* {
  margin: 0;
  padding: 0;
  /* font-family: "Cinzel Decorative", cursive; */
  /* cursor: none; */
}
body {
  /* cursor: none; */
  background: white;
  overflow-x: hidden;
}

.flex-disp {
  display: flex;
  justify-content: center;
}

#nav-div {
  font-family: "Cinzel Decorative", cursive;
  font-size: 1.8rem;
  z-index: 10;
  margin: 3rem 3rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 0.5rem 0rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.first {
  margin: 6rem 0 1rem 0;
  height: 80rem;
}

.inside-first {
  margin: 0 auto;
  max-width: 70rem;
  /* color: #5928e5; */
}

.welcome-text {
  margin: -2rem 0rem;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 500;
  word-spacing: 0.2rem;
  letter-spacing: -0.6rem;
  font-size: 7.5rem;
}

#circle-ring {
  width: 10rem;
  opacity: 25%;
  position: absolute;
  transform: translate(-20rem, -3rem);
  z-index: -1;
}

.of {
  align-items: center;
}

.off {
  display: inline-block;
}

.brackets {
  font-size: 5rem;
  color: rgb(255, 162, 167);
}

.arrow {
  position: absolute;
}

.arrow1 {
  width: 4rem;
  transform: translate(8rem, -5rem);
}

.arrow2 {
  width: 5rem;
  transform: translate(-8rem, 6rem);
}

#into-me {
  margin: 1rem -1rem 1rem 4rem;
}

.small-intro {
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0 1rem 0rem 1rem;
  font-weight: lighter;
  color: rgb(54, 54, 54);
  font-size: 0.9rem;
  text-align: center;
}

.art-text {
  display: inline-block;
  position: absolute;
  transform: translate(0, -23rem);
  width: 100%;
  z-index: -1;
  align-items: center;
  text-align: center;
}

#arttext {
  font-size: 40rem;
  color: rgb(255, 195, 198);
  font-family: "Philosopher", sans-serif;
}

.red-arrow {
  align-items: center;
}

#red-arrow {
  width: 5rem;
  position: absolute;
  transform: translate(0, 39rem);
}

.rotateing-text {
  margin-top: 48rem;
}
.rotateing-text1 {
  transform: translateY(-40.6rem);
}

#circ {
  display: inline-block;
  margin-top: 8rem;
  font-size: 4rem;
  text-transform: uppercase;
  animation: spin 115s linear infinite;
  /* color: rgb(243, 113, 255); */
}

#circ2 {
  display: inline-block;
  font-size: 3.1rem;
  text-transform: uppercase;
  animation: spin1 180s linear infinite;
  color: rgb(255, 255, 255);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin1 {
  100% {
    transform: rotate(-360deg);
  }
}

.divider {
  border: none;
  border-bottom: 1px solid rgb(67, 142, 255);
  width: 80%;
  margin: 1rem auto;
}

.container1 {
  font-family: "Cinzel Decorative", cursive;
  background: #ead4c7;
  box-shadow: -1px 1px 50px rgb(121, 88, 78);
  height: 100rem;
}

.arrow2 {
  transform: translate(-8rem, 6rem);
}

.downarrow2 {
  transform: translate(1rem, -55rem);
}

#create-more {
  width: 18rem;
  transform: translate(38.6rem, -68rem);
}

#downarrow2 {
  width: 3rem;
}

.container2 {
  font-family: "Cinzel Decorative", cursive;
  background: #faf7f4;
  box-shadow: -1px 1px 50px rgb(121, 88, 78);
  height: 125rem;
  transform: translateY(-32rem);
}

.text {
  padding-top: 4rem;
  text-align: center;
  font-size: 2.5rem;
}

#text1 {
  line-height: 3rem;
  padding: 6rem 0 0 0;
}

.work-heading {
  padding-top: 4rem;
}

.wrkhead {
  font-size: 11rem;
}

#highlight {
  transform: translate(22rem, -16.5rem);
  z-index: -1;
  width: 50rem;
}

.container3 {
  padding-top: 4rem;
  transform: translateY(-70rem);
  /* height: 380rem; */
  /* background-color: rgb(252, 223, 144); */
  background: #f2dba6;
  box-shadow: -1px 1px 50px rgb(51, 42, 0);
  position: relative;
}

.wrapper {
  margin-top: -14rem;
  position: absolute;
  width: 100%;
}

.gradient1 {
  background-image: linear-gradient(
    #f2dba6,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    #f2dba6
  );
  width: 100%;
  height: calc(101vh);
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.cam {
  width: 22rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -12rem);
}

.motion-heading {
  margin-top: 15rem;
  font-size: 10rem;
  text-align: center;
  /* font-family: "Helvetica Neue", sans-serif; */
  /* font-weight: bold; */
  letter-spacing: -0.5rem;
  word-spacing: 0.5rem;
  font-family: "Cinzel Decorative", cursive;
  -webkit-text-stroke: 0.3px rgb(65, 37, 26);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  /* background: -webkit-radial-gradient(rgb(197, 197, 197), rgb(34, 34, 34));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.sub-motion-heading {
  transform: translateY(-21.8rem);
  font-size: 11rem;
  letter-spacing: -0.1rem;
  font-family: "Cinzel Decorative", cursive;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 15px #867a5e;
  overflow: hidden;
}

.motion-heading1 {
  margin-top: 42rem;
  font-size: 10rem;
  text-align: center;
  letter-spacing: -0.5rem;
  word-spacing: 0.5rem;
  font-family: "Cinzel Decorative", cursive;
  -webkit-text-stroke: 0.3px rgb(65, 37, 26);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.sub-motion-heading1 {
  font-size: 10rem;
  padding-bottom: 3rem;
  transform: translateY(-21rem);
  letter-spacing: -0.1rem;
  font-family: "Cinzel Decorative", cursive;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 15px #867a5e;
}

#dont {
  padding-bottom: 0.5vh;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

#logo {
  padding-bottom: 0.5vh;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

.ae {
  width: 15rem;
  position: absolute;
  transform: translate(77rem, -92rem);
  z-index: 3;
  box-shadow: 12px 10px 12px rgb(49, 49, 49);
}

.ae1 {
  width: 15rem;
  position: absolute;
  transform: translate(4rem, 12rem);
  z-index: 3;
  box-shadow: -12px 10px 12px rgb(61, 61, 61);
}

.motion-heading2 {
  text-align: center;
  margin-top: 40rem;
  font-size: 10rem;
  text-align: center;
  letter-spacing: -0.5rem;
  word-spacing: 0.5rem;
  font-family: "Cinzel Decorative", cursive;
  overflow: hidden;
}

.webimg {
  margin-top: -15rem;
}

.webapp {
  box-shadow: 1px 1px 25px rgb(46, 46, 46);
  width: 28rem;
  margin: 1rem;
}

.webapp1 {
  box-shadow: 1px 1px 25px rgb(46, 46, 46);
  width: 32rem;
  margin: 1rem;
}

.im1 {
  margin-top: -3rem;
}

.webimg2 {
  margin-top: -15rem;
}

.to-project {
  text-align: center;
  color: white;
  border: none;
  border-radius: 6rem;
  background-color: rgb(0, 119, 255);
  padding: 2rem 4rem;
}

.visit-ctn {
  font-size: 2rem;
  color: white;
  padding: 2rem;
  transform: translateY(-18rem);
}

.heading-1 {
  margin-top: 12rem;
  font-size: 6rem;
  text-align: center;
  letter-spacing: -0.5rem;
  word-spacing: 0.5rem;
  font-family: "Cinzel Decorative", cursive;
  -webkit-font-smoothing: antialiased;
}

.heading-2 {
  text-align: center;
  font-size: 6rem;
  transform: translateY(-12rem);
  letter-spacing: -0.1rem;
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 1px 1px 15px #867a5e;
  color: white;
}

.text-pink {
  font-size: 5rem;
  color: white;
}

.skills_web {
  font-family: "Cinzel Decorative", cursive;
  font-size: 5rem;
  padding: 0 0 0 2rem;
}

#new {
  display: inline-block;
  font-size: 6rem;
  width: 275vw;
  text-transform: uppercase;
  font-family: "Cinzel Decorative", cursive;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px rgb(65, 37, 26);
  -webkit-font-smoothing: antialiased;
}

.transform {
  transform: translateX(275vw);
}

.transform1 {
  transform: translate(0rem, -8rem);
}

.exp {
  animation: spin2 40s linear infinite;
}

.exp1 {
  animation: spin2 40s linear infinite;
}

@keyframes spin2 {
  100% {
    transform: translateX(-275vw);
  }
}
