* {
  margin: 0;
  padding: 0;
  font-family: "Cinzel Decorative", cursive;
  /* cursor: none; */
}
body {
  /* cursor: none; */
  background-color: #420fe7;
}

.flex-disp {
  display: flex;
  justify-content: center;
}

#nav-div {
  font-size: 1.8rem;
  z-index: 10;
  margin: 3rem 4rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 0.5rem 0rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.first {
  margin: 6rem 0 1rem 0;
  height: 80rem;
}

.inside-first {
  margin: 0 auto;
  max-width: 70rem;
}

.welcome-text {
  margin: -2rem 0rem;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 500;
  word-spacing: 0.2rem;
  letter-spacing: -0.6rem;
  font-size: 7.5rem;
  color: rgb(1, 225, 255);
}

#circle-ring {
  width: 10rem;
  opacity: 25%;
  position: absolute;
  transform: translate(-20rem, -3rem);
  z-index: -1;
}

.of {
  align-items: center;
}

.off {
  display: inline-block;
}

.brackets {
  font-size: 5rem;
  color: rgb(255, 169, 251);
}

.arrow {
  position: absolute;
}

.arrow1 {
  width: 4rem;
  transform: translate(8rem, -5rem);
}

.arrow2 {
  width: 5rem;
  transform: translate(-8rem, 6rem);
}

#into-me {
  margin: 1rem -1rem 1rem 6rem;
}

.small-intro {
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0 1rem 0rem 1rem;
  font-weight: lighter;
  color: rgb(255, 153, 153);
  font-size: 0.9rem;
  text-align: center;
}

.art-text {
  display: inline-block;
  position: absolute;
  transform: translate(0, -23rem);
  width: 100%;
  z-index: -1;
  align-items: center;
  text-align: center;
}

#arttext {
  font-size: 40rem;
  color: rgb(255, 195, 230);
  font-family: "Philosopher", sans-serif;
}

.red-arrow {
  align-items: center;
}

#red-arrow {
  width: 3rem;
  position: absolute;
  transform: translate(0, 35rem);
}

.rotateing-text {
  margin-top: 48rem;
}
.rotateing-text1 {
  transform: translateY(-37rem);
}

#circ {
  display: inline-block;
  margin-top: 8rem;
  font-size: 2.2rem;
  font-family: "cousine", monospace;
  text-transform: uppercase;
  animation: spin 115s linear infinite;
}

#circ2 {
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  animation: spin1 180s linear infinite;
  color: white;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin1 {
  100% {
    transform: rotate(-360deg);
  }
}

.divider {
  border: none;
  border-bottom: 1px solid rgb(67, 142, 255);
  width: 80%;
  margin: 1rem auto;
}

.container1 {
  background: rgb(255, 225, 144);
  height: 100rem;
}

.container2 {
  background: white;
  height: 100rem;
  transform: translateY(-45rem);
}

.text {
  text-align: center;
  color: rgb(129, 115, 75);
  font-size: 2.5rem;
}

#quality {
  font-size: 4rem;
  letter-spacing: -0.3rem;
  color: rgb(255, 196, 107);
}

#text1 {
  line-height: 3rem;
  padding: 2rem 0 0 0;
}
