* {
  margin: 0;
  padding: 0;
  font-family: "Cinzel Decorative", cursive;
  /* cursor: none; */
}
body {
  /* cursor: none; */
  background-color: #f1eae5;
}

.flex-disp {
  display: flex;
  justify-content: center;
}

#nav-div {
  font-size: 1.8rem;
  z-index: 10;
  margin: 3rem 3rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 0.5rem 0rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.first {
  margin: 6rem 0 1rem 0;
  height: 80rem;
}

.inside-first {
  margin: 0 auto;
  max-width: 70rem;
}

.welcome-text {
  margin: -2rem 0rem;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 500;
  word-spacing: 0.2rem;
  letter-spacing: -0.6rem;
  font-size: 7.5rem;
}

#circle-ring {
  width: 10rem;
  opacity: 25%;
  position: absolute;
  transform: translate(-20rem, -3rem);
  z-index: -1;
}

.of {
  align-items: center;
}

.off {
  display: inline-block;
}

.brackets {
  font-size: 5rem;
  color: rgb(255, 162, 167);
}

.arrow {
  position: absolute;
}

.arrow1 {
  width: 4rem;
  transform: translate(8rem, -5rem);
}

.arrow2 {
  width: 5rem;
  transform: translate(-8rem, 6rem);
}

#into-me {
  margin: 1rem -1rem 1rem 4rem;
}

.small-intro {
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0 1rem 0rem 1rem;
  font-weight: lighter;
  color: rgb(54, 54, 54);
  font-size: 0.9rem;
  text-align: center;
}

.art-text {
  display: inline-block;
  position: absolute;
  transform: translate(0, -23rem);
  width: 100%;
  z-index: -1;
  align-items: center;
  text-align: center;
}

#arttext {
  font-size: 40rem;
  color: rgb(255, 195, 198);
  font-family: "Philosopher", sans-serif;
}

.red-arrow {
  align-items: center;
}

#red-arrow {
  width: 5rem;
  position: absolute;
  transform: translate(0, 39rem);
}

.rotateing-text {
  margin-top: 48rem;
}
.rotateing-text1 {
  transform: translateY(-39rem);
}

#circ {
  display: inline-block;
  margin-top: 8rem;
  font-size: 3.8rem;
  text-transform: uppercase;
  animation: spin 115s linear infinite;
}

#circ2 {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  animation: spin1 180s linear infinite;
  color: rgb(255, 255, 255);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin1 {
  100% {
    transform: rotate(-360deg);
  }
}

.divider {
  border: none;
  border-bottom: 1px solid rgb(67, 142, 255);
  width: 80%;
  margin: 1rem auto;
}

.container1 {
  background: #ead4c7;
  height: 100rem;
}

.arrow2 {
  transform: translate(-8rem, 6rem);
}

.downarrow2 {
  transform: translateY(-55.5rem);
}

#create-more {
  width: 18rem;
  transform: translate(38.6rem, -66.6rem);
}

#downarrow2 {
  width: 4rem;
}

.container2 {
  background: #faf7f4;
  height: 125rem;
  transform: translateY(-38rem);
}

.text {
  text-align: center;
  font-size: 2.5rem;
}

#text1 {
  line-height: 3rem;
  padding: 6rem 0 0 0;
}

.work-heading {
  padding-top: 4rem;
}

.wrkhead {
  font-size: 10rem;
}

#highlight {
  transform: translate(22rem, -16.5rem);
  z-index: -1;
  width: 50rem;
}

.container3 {
  transform: translateY(-85rem);
  height: 150rem;
  background-color: rgb(252, 223, 144);
  position: relative;
}

.cam {
  width: 22rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -13rem);
}

.motion-heading {
  padding-top: 8rem;
  font-size: 5rem;
}

.sub-motion-heading {
  font-size: 2rem;
}

.motion-heading1 {
  padding-top: 48rem;
  font-size: 5rem;
}

.sub-motion-heading1 {
  font-size: 2rem;
}

#mac {
  margin-top: 3rem;
  width: 70rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#dont {
  width: 54rem;
  height: 34rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 4rem);
}

#logo {
  width: 54rem;
  height: 36rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 2.5rem);
}

#mac1 {
  margin-top: 3rem;
  width: 70rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ae {
  width: 15rem;
  position: absolute;
  transform: translate(75rem, -34rem);
  box-shadow: 12px 10px 12px rgb(139, 103, 4);
}

.ae1 {
  width: 15rem;
  position: absolute;
  transform: translate(4.8rem, 23rem);
  box-shadow: -12px 10px 12px rgb(139, 103, 4);
}
